<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newEaten="{{devoured}}">
		{{#if devoured}}Eat{{else}}Un-Eat{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>